# POSTGRESQL DB
DATABASE_URL = ""

# JWT ENV
JWT_SECRET= ""
JWT_EXPIRES= ""


# CLOUDINARY
CLOUDINARY_CLOUD_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""

# REDIS
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""